.container-personagem {
  flex-direction: row;
  display: flex;
  margin: auto;
  padding: 80px 40px;
  width: 100vw;
  height: 100vh;
}

.container-personagem .image {
  display: flex;
  height: 300px;
  width: auto;
}

.container-personagem .details {
  flex-direction: column;
  margin: 20px;
  height: 600px;

  align-items: center;
  overflow-y: auto;
}

.container-personagem .name {
  font-size: 35px;
  margin-bottom: 50px;
  text-align: center;
}
.container-personagem .description {
  font-size: 20px;
  text-align: center;
}

.comics-table {
  text-align: left;
  margin-top: 50px;
  margin-left: 5px;
}

.events-table {
  margin-top: 50px;
}

.btn {
  cursor: pointer;
  border: 2px solid #fff;
  margin: auto;
  padding: 10px 15px;
  margin-right: 30px;
  margin-bottom: 200px;
  background: #000;
  color: #fff;
}
.btn:hover {
  background: #a60000;
  transition: 0.3s all;
  color: #000;
}

.details::-webkit-scrollbar {
  width: 12px;
  border: 1px solid #fff;
  border-radius: 6px;
  margin: auto;
}
.details::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 6px;
}
@media screen and (max-width: 600px) {
  .container-personagem {
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  .container-personagem .image {
    align-items: center;
    margin: auto;
  }
}
